<%! from django.core.urlresolvers import reverse %>
<%namespace name='static' file='/static_content.html'/>

<%inherit file="/main.html" />

<%block name="title"><title>About Inversus</title></%block>

<%block name="js_extra">
  <script type="text/javascript">
    $(function() {
      $('section.message').hide();
      $('#about-menu a').removeClass('active');
      window.scrollTo(0,0);
      
      if ( document.location.href.indexOf('#faq') > -1 ) {
        $('section#faq').show();
        $('#about-menu a.faq').addClass('active');
      } else if ( document.location.href.indexOf('#contact') > -1 ) {
        $('section#contact').show();
        $('#about-menu a.contact').addClass('active');
      } else {
        $('section#about').show();
        $('#about-menu a.about').addClass('active');
      }
      
      $('#about-menu a').click(function(event) {
        event.preventDefault();
        $('#about-menu a').removeClass('active');
        $(this).addClass('active');
        var clickId = "section" + $(this).attr('href');
        $('section.message').hide();
        $(clickId).show();
      });
    });
  </script>
</%block>

<section class="container about" style="width: auto;">
  <nav id="about-menu">
    <a href="#about" class="about active">About</a>
    <a href="#faq" class="faq">Faq</a>
    <a href="#contact" class="contact">Contact</a>
  </nav>

  <section class="vision">

## About Section ##
    <section class="message left" id="about">
      <div class="photo">
        <img src="${static.url('themes/stanford/images/dome.jpg')}" alt="Johns Hopkins Hospital Dome" />
      </div>
      <article>
        <h2>About Inversus</h2>
        
        <p>Inversus is an immersive online learning platform made exclusively for the medical students at The Johns Hopkins University.</p>
        <p>This is not your typical e-lecture.</p>
        <p>Inversus takes online learning to a new level. Through this platform, the traditional one-hour lecture is broken into 5 to 10 minute clips that are interspersed with questions so that students can reinforce the knowledge they are learning, as they learn. The instructor can monitor the students' understanding of the material and adjust their teaching accordingly.</p>
        <p>Because students learn the material on their own time, class time is dedicated to application of concepts. Students take a more active role in their learning, and learn from their peers by participating in small group clinical case discussions. Professors act as a guide as students lead discussions. This teaching method is also known as "flipped classroom."</p>
        <p>Inversus was created by Joshua Cohen and Regina de Luna (School of Medicine Class of 2017). It is powered by the OpenEdX platform. </p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>


## FAQ Section ##
    <section class="message left" id="faq">
      <div class="photo">
        <img src="${static.url('themes/stanford/images/ameb.jpg')}" alt="AMEB" />
      </div>
      <article>
        <h2>FAQs</h2>
        <p><strong>Who can I contact if I am having technical difficulties?</strong><br />
        Email Joshua Cohen (<a href="mailto:cohen@jhmi.edu">cohen@jhmi.edu</a>) or Regina de Luna (<a href="mailto:rdeluna@jhmi.edu">rdeluna@jhmi.edu</a>)</p>
        
        <p><strong>What browsers are recommended for use with Inversus?</strong><br />
        The latest versions of <a href="http://chrome.google.com/">Google Chrome</a>, <a href="http://www.mozilla.org/firefox">Mozilla Firefox</a>, and <a href="http://www.apple.com/safari/">Apple Safari</a>. (The site is currently not optimized for mobile use.)</p>

        <p><strong>Where does the name Inversus come from?</strong><br />
        The name Inversus comes from "Situs Inversus" a medical condition where the major structures of the thorax and abdomen are flipped. It alludes to our goal of flipping the medical school classroom.</p>

        <p><strong>Who do I contact if I want to get involved?</strong><br />
        Email Joshua Cohen (<a href="mailto:cohen@jhmi.edu">cohen@jhmi.edu</a>) or Regina de Luna (<a href="mailto:rdeluna@jhmi.edu">rdeluna@jhmi.edu</a>)</p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>


## Contact Section ##
    <section class="message left" id="contact">
      <div class="photo">
        <img src="${static.url('themes/stanford/images/class2017.jpg')}" alt="Class of 2017" />
      </div>
      <article id="stanford-OpenEdX-contact">
        <h2>Contact Information</h2>
        <p><strong>Joshua Cohen</strong><br />
        <a href="mailto:cohen@jhmi.edu">cohen@jhmi.edu</a></p>

        <p><strong>Regina de Luna</strong><br />
        <a href="mailto:rdeluna@jhmi.edu">rdeluna@jhmi.edu</a></p>
      </article>
      <hr class="fade-right-hr-divider">
    </section>
  </section>

</section>
